<nav th:fragment="nav" class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold fs-4" href="/"
      >授業予約システム</a
    >
    <a class="navbar-brand text-white" href="/classrooms">教室管理</a>
    <a class="navbar-brand text-white" href="/teachers">講師登録</a>
    <a class="navbar-brand text-white" href="/desiredDate/index">講師希望<br />日程登録</a>
    <a class="navbar-brand text-white" href="/studentEntries/create">学生授業<br />予約登録</a>
    <a class="navbar-brand text-white" href="/classReservations">表示</a>
    <a class="navbar-brand text-white" href="/classReservations/create">作成</a>
    
  </div>
</nav>
