<nav th:fragment="nav" th:if="${page.totalPages} != 0">
    <ul class="pagination">
        <li class="page-item" th:classappend="${page.first} ? 'disabled':''" style="display:inline">
            <a class="page-link" th:href="@{${url}(page=0)}">&lt;&lt;</a>
        </li>
        <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' class="page-item" th:classappend="(${i}==${page.number})? 'active' : ''">
            <a class="page-link" th:href="@{${url}(page=${i})}">
                <span th:text='${i+1}'>1</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${page.last} ? 'disabled':''" style="display:inline">
            <a class="page-link" th:href="@{${url}(page=(${page.totalPages}-1))}">&gt;&gt;</a>
        </li>
    </ul>
</nav>