<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/head :: common_header(~{::title}, ~{}, ~{})">
    <title>教室予約</title>
  </head>
  <body>
    <th:block th:replace="common/nav::nav" />

    <div class="d-flex flex-wrap">
      <div th:each="date: ${reservation.reservationDates}">
        <div>[[${date.date}]]</div>
        <div class="d-flex">
          <div>
            <div th:each="classroom: ${classrooms}">
              [[${classroom.getName()}]]
            </div>
          </div>
          <div th:each="frame: ${date.frames}" class="ms-2">
            <div>[[${frame.frameNumber}]]</div>
            <div th:each="classroom: ${frame.classrooms}" class="ms-2">
              <div th:if="${classroom.subject != null}" class="ms-2">
                [[${classroom.subject.getName()}]] /
                [[${classroom.studentNames.size()}]]
              </div>
              <div th:if="${classroom.subject == null}">無</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
