<head th:replace="common/head :: common_header(~{::title}, ~{}, ~{})">
  <title>授業申し込み画面</title>
</head>
<body class="bg-light vw-100 vh-100">
  <th:block th:replace="common/nav::nav" />
  <div class="container mt-3" th:if="${message != null}">
    <div class="alert alert-success" role="alert">[[${message}]]</div>
  </div>
  <main class="mt-5 d-flex flex-column align-items-start container">
    <div class="card shadow-sm">
      <h5 class="card-header">授業申し込み</h5>
      <form
        th:action="@{/studentEntries/create}"
        th:object="${studentEntryForm}"
        method="post"
        class="p-3"
        style="width: 400px"
      >
        <div class="mb-3">
          <label class="form-label" for="entryDt">申込日</label>
          <input
            id="entry-dt"
            class="form-control"
            type="date"
            name="entryDt"
            th:field="*{entryDt}"
            th:errorclass="is-invalid"
          />
          <span
            th:if="${#fields.hasErrors('entryDt')}"
            th:errors="*{entryDt}"
            class="invalid-feedback"
          >
            error!
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label" for="name">名前</label>
          <input
            id="name"
            class="form-control"
            type="text"
            name="name"
            th:field="*{name}"
            th:errorclass="is-invalid"
          />
          <span
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
            class="invalid-feedback"
          >
            error!
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label" for="grade">学年</label>
          <select name="gradeId" id="grade" class="form-select">
            <option
              th:each="grade: ${grades}"
              th:value="${grade.id}"
              th:selected="*{gradeId} == ${grade.id}"
            >
              [[${grade.grade_name}]]
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="dt">授業年月</label>
          <input
            id="dt"
            class="form-control"
            type="month"
            name="dt"
            th:field="*{dt}"
            th:errorclass="is-invalid"
          />
          <span
            th:if="${#fields.hasErrors('dt')}"
            th:errors="*{dt}"
            class="invalid-feedback"
          >
            error!
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label" for="subject">希望科目</label>
          <select name="subjectId" id="subject" class="form-select">
            <option
              th:each="subject: ${subjects}"
              th:value="${subject.id}"
              th:selected="*{subjectId} == ${subject.id}"
            >
              [[${subject.name}]]
            </option>
          </select>
        </div>
        <div>
          <input
            type="submit"
            value="申し込み"
            class="btn btn-primary btn-sm px-3"
          />
        </div>
      </form>
    </div>

    <h3 class="mt-4">登録申し込み一覧</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>申し込み日</th>
          <th>名前</th>
          <th>学年</th>
          <th>授業年月</th>
          <th>希望科目</th>
          <th>削除</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="studentEntry: ${studentEntries}">
          <td th:text="${studentEntry.entryDt}">申し込み日</td>
          <td th:text="${studentEntry.name}">名前</td>
          <div th:each="grade: ${grades}">
            <div th:if="${grade.id} == ${studentEntry.gradeId}">
              <td th:text="${grade.grade_name}">学年</td>
            </div>
          </div>
          <td th:text="${studentEntry.dt}">授業年月</td>
          <div th:each="subject: ${subjects}">
            <div th:if="${subject.id} == ${studentEntry.subjectId}">
              <td th:text="${subject.name}">希望科目</td>
            </div>
          </div>
          <td>
            <form
              th:action="@{/studentEntries/delete}"
              method="post"
              class="d-inline"
            >
              <input
                type="submit"
                name="form"
                value="削除"
                class="btn btn-danger btn-sm"
              />
              <input type="hidden" name="id" th:value="${studentEntry.id}" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
