<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/head :: common_header(~{::title}, ~{}, ~{})">
    <title>講師管理画面</title>
  </head>
  <body class="bg-light">
    <th:block th:replace="common/nav::nav" />

    <main class="mt-5 d-flex flex-column align-items-start container">
      <div class="card shadow-sm">
        <h5 class="card-header">講師管理画面</h5>
        <form
          th:action="@{/teachers/create}"
          method="post"
          class="p-3"
          style="width: 400px"
        >
          <div class="mb-3">
            <label class="form-label" for="name">講師名</label>
            <input
              id="name"
              type="text"
              name="name"
              class="form-control form-control-sm"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="subject">担当科目</label>
            <select name="subjectCode" id="subject" class="form-select">
              <option th:each="subject: ${subjects}" th:value="${subject.id}">
                [[${subject.name}]]
              </option>
            </select>
          </div>
          <div class="text-end">
            <input type="submit" class="btn btn-primary btn-sm px-3" />
          </div>
        </form>
      </div>

      <h3 class="mt-4">講師一覧</h3>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>講師ID</th>
            <th>講師名</th>
            <th>担当科目</th>
            <th>編集・削除</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="teacher: ${teachers}">
            <td th:text="${teacher.id}">講師ID</td>
            <td th:text="${teacher.name}">講師名</td>
            <td th:text="${teacher.subject.name}">担当科目</td>
            <td>
              <form
                th:action="@{/teachers/edit}"
                method="post"
                class="d-inline"
              >
                <input
                  type="submit"
                  name="form"
                  value="編集"
                  class="btn btn-primary btn-sm"
                />
                <input type="hidden" name="id" th:value="${teacher.id}" />
              </form>

              <form
                th:action="@{/teachers/delete}"
                method="post"
                class="d-inline"
              >
                <input
                  input
                  type="submit"
                  name="form"
                  value="削除"
                  class="btn btn-danger btn-sm"
                />
                <input type="hidden" name="id" th:value="${teacher.id}" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
