        
 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
     <head>
         <meta charset="UTF-8" />
         <title>講師管理画面</title>
     </head>
     <body>
        <h1>講師管理画面</h3>

            <form th:action="@{/teachers/create}"  method="post" >
                <button  type="submit"  align="right">ホーム</button>
            </form>
                <table>
                    <div align="center">
                      <input type="text" name="id" />
                      <input type="text" name="name" />
                      <input type="text" name="subjectCode"/>
                    </div>
                             
                </table>
                <button  type="submit"  align="right">登録</button>
            
            </form>
         <table>
             <td th:each="{teacher : ${teachers}">
                 <td th:text="${teacher.id}">講師ID</td>
                 <td th:text="${teacher.name}">講師名</td>
                 <td th:text="${teacher.subjectCode}">担当科目：</td>
             </td>
             <td>
             <form th:action="@{/teachers/edit}" method="post">
                <button type="submit" name="form" value="編集" >
             </form>
             </td>
            </table>
     </body>
 </html>